@charset "UTF-8";
/* ****************************************************************************
	@CreateDate   : 2019.03
	@ModifyDate   :
	@Description  : 
	@Author       : namu
***************************************************************************** */
 a, a:active, a:visited {
     text-decoration: none;
     color: inherit;
}
 a:active, a:hover {
     text-decoration: underline;
}
 .no-hashchang a, .no-hashchang a:active, .no-hashchang a:visited {
     text-decoration: none;
     color: #666;
}
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, article, aside, canvas, details, embed, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     vertical-align: top;
     box-sizing: border-box;
     font-style: normal;
     letter-spacing: -0.1px; 
     word-spacing: -0.1px; 
}
 img, fieldset, form, label, legend, figure, figcaption, input, button {
     margin: 0;
     padding: 0;
     border: 0;
     vertical-align: top;
}
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}
 button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner {
     padding: 0;
     border: 0;
}
 ol, ul {
     list-style: none;
}
 blockquote, q {
     quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
     content: '';
}
 img {
     line-height: 0;
     font-size: 0;
}
 a {
     text-decoration: none;
     color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

/* ---------------------------------------------------------------------------
Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
--------------------------------------------------------------------------- */
@font-face { 
	font-family: "Noto-Thin"; 
	src: url("../css/fonts/NotoSansKR-Thin.eot"); 
	src: url("../css/fonts/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"); 
	src: local(※), url("../css/fonts/NotoSansKR-Thin.woff") format("woff"); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: "Noto-Light"; 
	src: url("../css/fonts/NotoSansKR-Light.eot"); 
	src: url("../css/fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"); 
	src: local(※), url("../css/fonts/NotoSansKR-Light.woff") format("woff"); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'Noto-Regular'; 
	src: url("../css/fonts/NotoSansKR-Regular.eot"); 
	src: url("../css/fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"); 
	src: local(※), url("../css/fonts/NotoSansKR-Regular.woff") format("woff"); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'Noto-Medium'; 
	src: url("../css/fonts/NotoSansKR-Medium.eot"); 
	src: url("../css/fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"); 
	src: local(※), url("../css/fonts/NotoSansKR-Medium.woff") format("woff"); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'Noto-Bold'; 
	src: url("../css/fonts/NotoSansKR-Bold.eot"); 
	src: url("../css/fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"); 
	src: local(※), url("../css/fonts/NotoSansKR-Bold.woff") format("woff"); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'Noto-Black'; 
	src: url("../css/fonts/NotoSansKR-Black.eot"); 
	src: url("../css/fonts/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"); 
	src: local(※), url("../css/fonts/NotoSansKR-Black.woff") format("woff"); 
	font-weight: normal; 
	font-style: normal; 
}
/* ------------------------- WebFont NotoKr  ------------------------- */
body, html {
	/* overflow: hidden;
	height: 100%; */
}
body { 
	line-height: 1.3; /* 20px */
	font-size: 15px;
	font-family: 'Noto-Light', sans-serif; 
	font-weight: normal; 
	color: #666;
}

 h1, h2, h3, h4, h5, h6 {
     font-family: 'Noto-Regular', sans-serif;
     font-weight: normal;
     color: #222;
}

 big, strong, b, dt, th {
     font-family: 'Noto-Medium', sans-serif;
     font-weight: normal;
     color: #222;
}

caption { 
  display: block;
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  text-indent: 9999px;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  border: 0;
  overflow: hidden;
  clear: both;
}

input[placeholder]::-webkit-input-placeholder { 
	color: #444444; 
}
input[placeholder]:-moz-placeholder { 
	color: #444444; 
}
input[placeholder]::-moz-placeholder { 
	color: #444444; 
}
input[placeholder]:-ms-input-placeholder { 
	color: #444444; 
}
input[placeholder].placeholder { 
	color: #444444; 
}

.blind, legend { 
	position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.small { 
	font-size: 14px; 
}

.fs_small { 
	font-size: 13px; 
}

.dpnone { 
	display: none; 
}

.g_wrap { 
	overflow:hidden; 
}
.g_left { 
	float:left; 
}
.g_right { 
	float:right; 
}

.t_left { 
	text-align: left !important; 
}
.t_center { 
	text-align: center !important; 
}
.t_right { 
	text-align: right !important; 
}

.t_regular {
  font-family: 'Noto-Regular', sans-serif;
}

.pd_all5 { padding: 5px !important; }
.pd_all10 { padding: 10px !important; }
.pd_all15 { padding: 15px !important; }
.pd_all20 { padding: 20px !important; }
.pd_all25 { padding: 25px !important; }
.pd_all30 { padding: 30px !important; }
.pd_all35 { padding: 35px !important; }
.pd_all40 { padding: 40px !important; }
.pd_all45 { padding: 45px !important; }
.pd_all50 { padding: 50px !important; }

.pd_t5 { padding-top: 5px !important; }
.pd_t10 { padding-top: 10px !important; }
.pd_t15 { padding-top: 15px !important; }
.pd_t20 { padding-top: 20px !important; }
.pd_t25 { padding-top: 25px !important; }
.pd_t30 { padding-top: 30px !important; }
.pd_t35 { padding-top: 35px !important; }
.pd_t40 { padding-top: 40px !important; }
.pd_t45 { padding-top: 45px !important; }
.pd_t50 { padding-top: 50px !important; }

.pd_r5 { padding-right: 5px !important; }
.pd_r10 { padding-right: 10px !important; }
.pd_r15 { padding-right: 15px !important; }
.pd_r20 { padding-right: 20px !important; }
.pd_r25 { padding-right: 25px !important; }
.pd_r30 { padding-right: 30px !important; }
.pd_r35 { padding-right: 35px !important; }
.pd_r40 { padding-right: 40px !important; }
.pd_r45 { padding-right: 45px !important; }
.pd_r50 { padding-right: 50px !important; }

.pd_b5 { padding-bottom: 5px !important; }
.pd_b10 { padding-bottom: 10px !important; }
.pd_b15 { padding-bottom: 15px !important; }
.pd_b20 { padding-bottom: 20px !important; }
.pd_b25 { padding-bottom: 25px !important; }
.pd_b30 { padding-bottom: 30px !important; }
.pd_b35 { padding-bottom: 35px !important; }
.pd_b40 { padding-bottom: 40px !important; }
.pd_b45 { padding-bottom: 45px !important; }
.pd_b50 { padding-bottom: 50px !important; }

.pd_l5 { padding-left: 5px !important; }
.pd_l10 { padding-left: 10px !important; }
.pd_l15 { padding-left: 15px !important; }
.pd_l20 { padding-left: 20px !important; }
.pd_l25 { padding-left: 25px !important; }
.pd_l30 { padding-left: 30px !important; }
.pd_l35 { padding-left: 35px !important; }
.pd_l40 { padding-left: 40px !important; }
.pd_l45 { padding-left: 45px !important; }
.pd_l50 { padding-left: 50px !important; }

.mg_all5 { margin: 5px !important; }
.mg_all10 { margin: 10px !important; }
.mg_all15 { margin: 15px !important; }
.mg_all20 { margin: 20px !important; }
.mg_all25 { margin: 25px !important; }
.mg_all30 { margin: 30px !important; }
.mg_all35 { margin: 35px !important; }
.mg_all40 { margin: 40px !important; }
.mg_all45 { margin: 45px !important; }
.mg_all50 { margin: 50px !important; }

.mg_t5 { margin-top: 5px !important; }
.mg_t10 { margin-top: 10px !important; }
.mg_t15 { margin-top: 15px !important; }
.mg_t20 { margin-top: 20px !important; }
.mg_t25 { margin-top: 25px !important; }
.mg_t30 { margin-top: 30px !important; }
.mg_t35 { margin-top: 35px !important; }
.mg_t40 { margin-top: 40px !important; }
.mg_t45 { margin-top: 45px !important; }
.mg_t50 { margin-top: 50px !important; }

.mg_r5 { margin-right: 5px !important; }
.mg_r10 { margin-right: 10px !important; }
.mg_r15 { margin-right: 15px !important; }
.mg_r20 { margin-right: 20px !important; }
.mg_r25 { margin-right: 25px !important; }
.mg_r30 { margin-right: 30px !important; }
.mg_r35 { margin-right: 35px !important; }
.mg_r40 { margin-right: 40px !important; }
.mg_r45 { margin-right: 45px !important; }
.mg_r50 { margin-right: 50px !important; }

.mg_b5 { margin-bottom: 5px !important; }
.mg_b10 { margin-bottom: 10px !important; }
.mg_b15 { margin-bottom: 15px !important; }
.mg_b20 { margin-bottom: 20px !important; }
.mg_b25 { margin-bottom: 25px !important; }
.mg_b30 { margin-bottom: 30px !important; }
.mg_b35 { margin-bottom: 35px !important; }
.mg_b40 { margin-bottom: 40px !important; }
.mg_b45 { margin-bottom: 45px !important; }
.mg_b50 { margin-bottom: 50px !important; }

.mg_l5 { margin-left: 5px !important; }
.mg_l10 { margin-left: 10px !important; }
.mg_l15 { margin-left: 15px !important; }
.mg_l20 { margin-left: 20px !important; }
.mg_l25 { margin-left: 25px !important; }
.mg_l30 { margin-left: 30px !important; }
.mg_l35 { margin-left: 35px !important; }
.mg_l40 { margin-left: 40px !important; }
.mg_l45 { margin-left: 45px !important; }
.mg_l50 { margin-left: 50px !important; }
/* ------------------------- common style  ------------------------- */

/* IE 6/7 .clearfix { zoom: 1; } */
.skip { 
	display: block; 
	height: 1px; 
	width: 1px; 
	margin: 0 -1px -1px 0; 
	padding: 0; 
	overflow: hidden; 
	font-size: 0; 
	line-height: 0; 
}
.skip:hover, 
.skip:active, 
.skip:focus { 
	display: block; 
	width: 100%; 
	height: auto; 
	margin: 0; 
	padding: 5px 0; 
	text-indent: 10px; 
	font-weight: bold; 
	font-size: 12px; 
	color: #333; 
	line-height: 1; 
	text-decoration: none !important; 
	position: relative; 
	text-align: center; 
}

/* ------------------------- Layout  ------------------------- */
.wrap {
	/*overflow: hidden;*/
	height: 100%;
}
