@charset "UTF-8";

/* ****************************************************************************
	@CreateDate   : 2017.06
	@ModifyDate   :
	@Description  :
	@Author       : namu
***************************************************************************** */
a,a:active,a:visited {
    text-decoration: none;
    color: inherit;
}
a:active,a:hover {
    text-decoration: none;
}
.no-hashchang a,.no-hashchang a:active,.no-hashchang a:visited {
    text-decoration: none;
    color: #666;
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,footer,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,ins,kbd,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,time,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-style: normal;
}
button,fieldset,figcaption,figure,form,img,input,label,legend {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
legend, figcaption {
  display: none;
  clear: both;
}
button::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
    padding: 0;
    border: 0;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:after,blockquote:before,q:after,q:before {
    content: '';
}
img {
    line-height: 0;
    font-size: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* ---------------------------------------------------------------------------
Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
--------------------------------------------------------------------------- */
@font-face {
    font-family: "Noto-Thin";
    src: url("../css/fonts/NotoSansKR-Thin.eot");
    src: url("../css/fonts/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Noto-Light";
    src: url("../css/fonts/NotoSansKR-Light.eot");
    src: url("../css/fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Regular';
    src: url("../css/fonts/NotoSansKR-Regular.eot");
    src: url("../css/fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Medium';
    src: url("../css/fonts/NotoSansKR-Medium.eot");
    src: url("../css/fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Bold';
    src: url("../css/fonts/NotoSansKR-Bold.eot");
    src: url("../css/fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Black';
    src: url("../css/fonts/NotoSansKR-Black.eot");
    src: url("../css/fonts/NotoSansKR-Black.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ------------------------- WebFont NotoKr  ------------------------- */
body {
    font-family: 'Noto-Light', sans-serif;
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto-Regular', sans-serif;
    font-weight: normal;
    color: #222;
}
b,big,dt,strong,th {
    font-family: 'Noto-Medium', sans-serif;
    font-weight: normal;
    color: #222;
}
body {
    font-size: 16px;
}
.small {
    font-size: 15px;
}
.fs-small {
    font-size: 14px;
}

/* ------------------------- common style  ------------------------- */
img.adi {
    min-width: 100%;
    height: auto;
}

/* IE 6/7 .clearfix { zoom: 1; } */
.skip {
    display: block;
    height: 1px;
    width: 1px;
    margin: 0 -1px -1px 0;
    padding: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.skip:active,.skip:focus,.skip:hover {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px 0;
    text-indent: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    line-height: 1;
    text-decoration: none !important;
    position: relative;
    text-align: center;
}
caption {
    display: block;
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    text-indent: 9999px;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    border: 0;
    overflow: hidden;
    clear: both;
}
.hidden,legend {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
input[placeholder]::-webkit-input-placeholder,
textarea[placeholder]::-webkit-input-placeholder {
    letter-spacing: -0.025em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #666;
}
input[placeholder]:-moz-placeholder,
textarea[placeholder]:-moz-placeholder {
    letter-spacing: -0.025em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #666;
}
input[placeholder]::-moz-placeholder,
textarea[placeholder]::-moz-placeholder {
    letter-spacing: -0.025em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #666;
}
input[placeholder]:-ms-input-placeholder,
textarea[placeholder]:-ms-input-placeholder {
    letter-spacing: -0.025em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #666;
}
input[placeholder]::placeholder,
textarea[placeholder]::placeholder {
    letter-spacing: -0.025em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #666;
}

@media screen and (max-width: 999px) {
    input[placeholder]::-webkit-input-placeholder,
    textarea[placeholder]::-webkit-input-placeholder {
        font-size: 0.563rem;
    }
    input[placeholder]:-moz-placeholder,
    textarea[placeholder]:-moz-placeholder {
        font-size: 0.563rem;
    }
    input[placeholder]::-moz-placeholder,
    textarea[placeholder]::-moz-placeholder {
        font-size: 0.563rem;
    }
    input[placeholder]:-ms-input-placeholder,
    textarea[placeholder]:-ms-input-placeholder {
        font-size: 0.563rem;
    }
    input[placeholder]::placeholder,
    textarea[placeholder]::placeholder {
        font-size: 0.563rem;
    }
}

input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    /* 화살표 없애기 for chrome*/
    -moz-appearance: none;
    /* 화살표 없애기 for firefox*/
    appearance: none;
    /* 화살표 없애기 공통*/
}
select::-ms-expand {
    display: none;
    /* 화살표 없애기 for IE10, 11*/
}
html {
    transition: 0.5s;
}
body {
    letter-spacing: -0.05em;
    color: #333;
    word-break: keep-all;
}
body, html {
    height: 100%;
}

.m-wrap {
    position: relative;
    height: 100%;
}
/* ------------------------- Header  ------------------------- */
.header-wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}
.header-wrap .header-box {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1280px;
}
.header-wrap .header-box .header-title {
    float: left;
    height: 70px;
    line-height: 4.125rem;
    letter-spacing: -0.075em;
    font-size: 1.625rem;
    font-family: 'Noto-Regular', sans-serif;
    color: #fff;
}
.header-wrap .header-box .header-title:before {
    content: "";
    display: inline-block;
    margin-right: 14px;
    width: 57px;
    height: 34px;
    vertical-align: -8px;
    background-image: url("../images/main/icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-wrap .header-box .header-phone {
    display: block;
    overflow: hidden;
    float: right;
    padding: 10px 0;
    height: 70px;
}
.header-wrap .header-box .header-phone > span {
    display: inline-block;
}
.header-wrap .header-box .header-phone > span.header-phone-title {
    margin-right: 18px;
    padding: 8px 27px 0 25px;
    height: 50px;
    letter-spacing: -0.025em;
    line-height: 1.625rem;
    font-size: 1.625rem;
    font-family: 'Noto-Bold', sans-serif;
    color: #fff;
    border-radius: 25px;
    background-color: #4f65ef;
}
.header-wrap .header-box .header-phone > span.header-phone-title:before {
    content: "";
    display: inline-block;
    margin-right: 2px;
    width: 26px;
    height: 29px;
    vertical-align: -3px;
    background-image: url("../images/main/icon.png");
    background-repeat: no-repeat;
    background-position: -200px -100px;
}
.header-wrap .header-box .header-phone > span.header-phone-number {
    letter-spacing: 0;
    line-height: 2.813rem;
    font-size: 2.063rem;
    font-family: 'Noto-Bold', sans-serif;
    color: #4f65ef;
}

@media screen and (max-width: 999px) {
    .header-wrap {
        padding: 0 20px;
    }
    .header-wrap .header-box {
        margin: 0;
        max-width: none;
        width: 100%;
    }
    .header-wrap .header-box .header-title {
        height: 50px;
        padding: 17px 0 0;
        text-align: center;
        line-height: 0.688rem;
        font-size: 0.688rem;
    }
    .header-wrap .header-box .header-title:before {
        margin-right: 5px;
        width: 25px;
        height: 15px;
        vertical-align: -4px;
        background-size: 1000px 500px;
        background-position: -100px -300px;
    }

    .header-wrap .header-box .header-phone {
        padding: 5px 0 0;
        height: 50px;
    }
    .header-wrap .header-box .header-phone > span {
        display: block;
    }
    .header-wrap .header-box .header-phone > span.header-phone-title {
        margin-right: 0;
        margin-bottom: 2px;
        padding: 3px 0 0 0;
        height: 22px;
        text-align: center;
        letter-spacing: -0.025em;
        line-height: 0.813rem;
        font-size: 0.813rem;
        border-radius: 11px;
    }
    .header-wrap .header-box .header-phone > span.header-phone-title:before {
        margin-right: 1px;
        width: 13px;
        height: 14px;
        vertical-align: -1px;
        background-size: 1000px 500px;
        background-position: -100px -50px;
    }
    .header-wrap .header-box .header-phone > span.header-phone-number {
        line-height: 1rem;
        font-size: 1rem;
    }
}


/* ------------------------- Footer  ------------------------- */
.footer-wrap {
    overflow: hidden;
    position: relative;
    padding: 0 5%;
    background-color: #161616;
}
.footer-wrap:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-wrap .footer-box {
    margin: 0 auto;
    max-width: 1280px;
}
.footer-wrap .footer-box .footer {
    position: relative;
    padding-left: 37.65625%;
    width: 100%;
    height: 228px;
}
.footer .footer-text {
    padding: 68px 0 0;
    line-height: 1.5rem;
    letter-spacing: -0.05em;
    font-size: 1.5rem;
    font-family: 'Noto-Regular', sans-serif;
    color: #4f65ef;
}
.footer .footer-logo {
    position: absolute;
    top: 80px;
    left: 0;
    width: 37.65625%;
}
.footer .footer-logo > p {
    position: relative;
    padding-left: 125px;
    line-height: 1.938rem;
    letter-spacing: -0.075em;
    font-size: 1.625rem;
    font-family: 'Noto-Bold', sans-serif;
    color: #616161;
}
.footer .footer-logo > p:before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 101px;
    height: 61px;
    background-image: url("../images/main/icon.png");
    background-repeat: no-repeat;
    background-position: -250px 0;
}
.footer .footer-util {
    overflow: hidden;
    margin: 21px 0 0;
    font-size: 0;
}
.footer .footer-util > li {
    display: inline-block;
    margin: 0 14px 0 0;
    letter-spacing: -0.05em;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: "Noto-Light", sans-serif;
    color: rgba(255, 255, 255, 0.6);
}
.footer .footer-util > li:after {
    content: "";
    display: inline-block;
    margin-left: 18px;
    width: 1px;
    height: 15px;
    vertical-align: -3px;
    background-color: rgba(90, 90, 90, 0.6);
}
.footer .footer-util > li:nth-child(2):after,
.footer .footer-util > li:last-child:after {
    display: none;
}

@media screen and (max-width: 999px) {
    .footer-wrap {
        display: table;
        padding: 0 20px 0;
        width: 100%;
        height: 197px;
        table-layout: fixed;
    }
    .footer-wrap .footer-box {
        display: table-cell;
        margin: 0;
        max-width: none;
        width: 100%;
        vertical-align: middle;
    }
    .footer-wrap .footer-box .footer {
        padding-left: 0;
        height: auto;
}
    .footer .footer-text {
        padding: 0;
        text-align: center;
        line-height: 0.75rem;
        letter-spacing: -0.05em;
        font-size: 0.75rem;
    }
    .footer .footer-logo {
        position: static;
        top: 0;
        margin: 23px 0 0;
        width: 100%;
        text-align: center;
    }
    .footer .footer-logo > p {
        display: inline-block;
        padding-left: 63px;
        text-align: left;
        line-height: 1rem;
        font-size: 0.813rem;
    }
    .footer .footer-logo > p:before {
        top: 3px;
        left: 0;
        width: 51px;
        height: 31px;
        background-size: 1000px 500px;
        background-position: -125px 0;
    }
    .footer .footer-util {
        margin: 19px 0 0;
        text-align: center;
    }
    .footer .footer-util > li {
        margin: 0 7px 0 0;
        line-height: 0.875rem;
        font-size: 0.5rem;
    }
    .footer .footer-util > li:after {
        margin-left: 9px;
        width: 1px;
        height: 8px;
        vertical-align: 0;
    }
    .footer .footer-util > li:nth-child(1):after,
    .footer .footer-util > li:nth-child(2):after,
    .footer .footer-util > li:nth-child(4):after,
    .footer .footer-util > li:last-child:after {
        display: none;
    }
}


/* ------------------------- input style  ------------------------- */
input {
    padding: 0 19px;
    height: 38px;
    letter-spacing: -0.025em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #666;
    border: 1px solid #e7e7e7;
    background-color: #fff;
}
.input-area {
    position: relative;
}
.input-area.type01 {
    font-size: 0;
}
.input-area .short {
    width: 100px;
}
.input-area .half {
    width: 50%;
}
.input-area .full {
    width: 100%;
}
.input-area .file {
    width: 285px;
}
.input-area .readonly {
    color: #828282;
    background-color: #f8f8f8;
}

.input-area .input-file-btn {
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    height: 38px;
    width: 55px;
}
.input-area .input-file-btn button {
    width: 100%;
    height: 38px;
    font-size: 0.875rem;
    font-family: "Noto-Regular", sans-serif;
    color: #fff;
    background: #666;
}
.input-area .input-file-btn input.input-file {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -moz-opacity: 0;
    cursor: pointer;
}

@media screen and (max-width: 999px) {
    input {
        padding: 0 9px;
        height: 23px;
        font-size: 0.563rem;
    }
    .input-area .short {
        width: 25%;
    }
    .input-area .half {
        width: 50%;
    }
    .input-area .full {
        width: 100%;
    }
    .input-area .file {
        width: 77.87610%;
    }
    .input-area .readonly {
        color: #828282;
        background-color: #f8f8f8;
    }

    .input-area .input-file-btn {
        margin-left: 4.42477%;
        width: 17.69911%;
        height: 23px;
    }
    .input-area .input-file-btn button {
        height: 23px;
        font-size: 0.625rem;
    }

}


/* ------------------------- select style  ------------------------- */
.input-area select {
    padding: 0 44px 0 19px;
    width: 100%;
    height: 38px;
    letter-spacing: -0.025em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #666;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    background-image: url(../images/main/ico_arrow_select_pc.png);
    background-repeat: no-repeat;
    background-position: right 0;
}

@media screen and (max-width: 999px) {
    .input-area select {
        padding: 0 33px 0 9px;
        height: 23px;
        font-size: 0.563rem;
        background-image: url(../images/main/ico_arrow_select_mobile.png);
        background-size: 28px 21px;
    }
}


/* ------------------------- checkbox style  ------------------------- */
.check-square {
    position: relative;
}
.check-square label {
    display: block;
    letter-spacing: -0.025em;
    line-height: 1.625rem;
    font-size: 1rem;
    font-family: 'Noto-Regular', sans-serif;
    color: #999;
    word-break: keep-all;
}
.check-square input[type="checkbox"],
.check-square input[type="radio"] {
    overflow: hidden;
    position: absolute;
    margin: -1px;
    padding: 0px;
    width: 1px;
    height: 1px;
    border: 0px none;
    clip: rect(0px, 0px, 0px, 0px);
}
.check-square input[type="checkbox"] + label span,
.check-square input[type="radio"] + label span  {
    display: inline-block;
    margin: 7px 5px 0 0;
    width: 15px;
    height: 15px;
    font-size: 0;
    background-image: url("../images/main/icon_checkbox_pc.gif");
    background-repeat: no-repeat;
    background-size: 15px 30px;
    background-position: 0 0;
}
/*.check-square input[type="checkbox"]:focus + label span,
.check-square input[type="radio"]:focus + label span {
    border:1px dashed #8f8f8f;
}*/
.check-square input[type="checkbox"]:checked + label span,
.check-square input[type="radio"]:checked + label span {
    background-position: 0 -15px;
}
.check-square input[type="checkbox"] + label a,
.check-square input[type="radio"] + label a {  
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 26px;
    text-align: center;
    letter-spacing: -0.025em;
    line-height: 1.5rem;
    font-size: 0.875rem;
    font-family: 'Noto-Light', sans-serif;
    color: #999;
    border: 1px solid #ccc;
    background-color: #fff;
}

@media screen and (max-width: 999px) {
    .check-square label {
        line-height: 0.875rem;
        font-size: 0.563rem;
    }
    .check-square input[type="checkbox"] + label span,
    .check-square input[type="radio"] + label span  {
        margin: 2px 2px 0 0;
        width: 10px;
        height: 10px;
        background-image: url("../images/main/icon_checkbox_mobile.gif");
        background-size: 10px 20px;
    }
    .check-square input[type="checkbox"]:checked + label span,
    .check-square input[type="radio"]:checked + label span {
        background-position: 0 -10px;
    }
    .check-square input[type="checkbox"] + label a,
    .check-square input[type="radio"] + label a { 
        display: inline-block;
        position: static;
        margin-left: 1px;
        width: 29px;
        height: 15px;
        line-height: 0.75rem;
        font-size: 0.563rem;
    }
}