@charset "UTF-8";

/* ****************************************************************************
	@CreateDate   : 2017.06
	@ModifyDate   :
	@Description  :
	@Author       : namu
***************************************************************************** */
a,a:active,a:visited {
    text-decoration: none;
    color: inherit;
}
a:active,a:hover {
    text-decoration: none;
}
.no-hashchang a,.no-hashchang a:active,.no-hashchang a:visited {
    text-decoration: none;
    color: #666;
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,footer,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,ins,kbd,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,time,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-style: normal;
}
button,fieldset,figcaption,figure,form,img,input,label,legend {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
legend, figcaption {
  display: none;
  clear: both;
}
button::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
    padding: 0;
    border: 0;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:after,blockquote:before,q:after,q:before {
    content: '';
}
img {
    line-height: 0;
    font-size: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* ---------------------------------------------------------------------------
Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
--------------------------------------------------------------------------- */
@font-face {
    font-family: "Noto-Thin";
    src: url("../css/fonts/NotoSansKR-Thin.eot");
    src: url("../css/fonts/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Noto-Light";
    src: url("../css/fonts/NotoSansKR-Light.eot");
    src: url("../css/fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Regular';
    src: url("../css/fonts/NotoSansKR-Regular.eot");
    src: url("../css/fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Medium';
    src: url("../css/fonts/NotoSansKR-Medium.eot");
    src: url("../css/fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Bold';
    src: url("../css/fonts/NotoSansKR-Bold.eot");
    src: url("../css/fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Black';
    src: url("../css/fonts/NotoSansKR-Black.eot");
    src: url("../css/fonts/NotoSansKR-Black.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/NotoSansKR-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gmarket-Light';
    src: url("../css/fonts/GmarketSansTTFLight.eot");
    src: url("../css/fonts/GmarketSansTTFLight.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/GmarketSansTTFLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gmarket-Medium';
    src: url("../css/fonts/GmarketSansTTFMedium.eot");
    src: url("../css/fonts/GmarketSansTTFMedium.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/GmarketSansTTFMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gmarket-Bold';
    src: url("../css/fonts/GmarketSansTTFBold.eot");
    src: url("../css/fonts/GmarketSansTTFBold.eot?#iefix") format("embedded-opentype");
    src: local(※), url("../css/fonts/GmarketSansTTFBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ------------------------- WebFont NotoKr  ------------------------- */
body {
    font-family: 'Noto-Light', sans-serif;
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto-Regular', sans-serif;
    font-weight: normal;
    color: #222;
}
b,big,dt,strong,th {
    font-family: 'Noto-Medium', sans-serif;
    font-weight: normal;
    color: #222;
}
body {
    font-size: 16px;
}
.small {
    font-size: 15px;
}
.fs-small {
    font-size: 14px;
}

/* ------------------------- common style  ------------------------- */
img.adi {
    min-width: 100%;
    height: auto;
}

/* IE 6/7 .clearfix { zoom: 1; } */
.skip {
    display: block;
    height: 1px;
    width: 1px;
    margin: 0 -1px -1px 0;
    padding: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.skip:active,.skip:focus,.skip:hover {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px 0;
    text-indent: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    line-height: 1;
    text-decoration: none !important;
    position: relative;
    text-align: center;
}
caption {
    display: block;
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    text-indent: 9999px;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    border: 0;
    overflow: hidden;
    clear: both;
}
.hidden,legend {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
input[placeholder]::-webkit-input-placeholder,
textarea[placeholder]::-webkit-input-placeholder {
    letter-spacing: -0.05em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #fff;
}
input[placeholder]:-moz-placeholder,
textarea[placeholder]:-moz-placeholder {
    letter-spacing: -0.05em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #fff;
}
input[placeholder]::-moz-placeholder,
textarea[placeholder]::-moz-placeholder {
    letter-spacing: -0.05em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #fff;
}
input[placeholder]:-ms-input-placeholder,
textarea[placeholder]:-ms-input-placeholder {
    letter-spacing: -0.05em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #fff;
}
input[placeholder]::placeholder,
textarea[placeholder]::placeholder {
    letter-spacing: -0.05em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #fff;
}

@media screen and (max-width: 999px) {
    input[placeholder]::-webkit-input-placeholder,
    textarea[placeholder]::-webkit-input-placeholder {
        font-size: 0.563rem;
    }
    input[placeholder]:-moz-placeholder,
    textarea[placeholder]:-moz-placeholder {
        font-size: 0.563rem;
    }
    input[placeholder]::-moz-placeholder,
    textarea[placeholder]::-moz-placeholder {
        font-size: 0.563rem;
    }
    input[placeholder]:-ms-input-placeholder,
    textarea[placeholder]:-ms-input-placeholder {
        font-size: 0.563rem;
    }
    input[placeholder]::placeholder,
    textarea[placeholder]::placeholder {
        font-size: 0.563rem;
    }
}

input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;*/
}
select {
    box-sizing: border-box;
    -webkit-appearance: none;
    /* 화살표 없애기 for chrome*/
    -moz-appearance: none;
    /* 화살표 없애기 for firefox*/
    appearance: none;
    /* 화살표 없애기 공통*/
}
select::-ms-expand {
    display: none;
    /* 화살표 없애기 for IE10, 11*/
}
html {
    transition: 0.5s;
}
body {
    letter-spacing: -0.05em;
    color: #333;
    word-break: keep-all;
}
body, html {
    height: 100%;
}

.m-wrap {
    height: 100%;
}


/* ------------------------- Footer  ------------------------- */
.footer-wrap {
    overflow: hidden;
    padding: 0 5%;
    border-top: 1px solid #e7e7e7;
}
.footer-wrap .footer-box {
    margin: 0 auto;
    max-width: 1280px;
}
.footer-box .footer-logo {
    float: left;
    padding: 91px 2.94117% 0 0;
    width: 26.5625%;
    height: 216px;
    letter-spacing: -0.05em;
    line-height: 1.875rem;
    font-size: 1.875rem;
    font-family: 'Gmarket-Bold', sans-serif;
    color: #6e6e6e;
    word-break: keep-all;
}
.footer-box .footer-util {
    float: left;
    padding: 67px 0 0;
    width: 73.4375%;
    height: 216px;
}
.footer-box .footer-util .footer-util-list {
    overflow: hidden;
}
.footer-box .footer-util .footer-util-list > li {
    float: left;
    margin: 0 11px 10px 0;
    letter-spacing: 0;
    line-height: 1.25rem;
    font-size: 1rem;
    font-family: "Noto-Regular", sans-serif;
    color: #7f7f7f;
}
.footer-box .footer-util .footer-util-list > li:nth-child(1) {
    margin-right: 10px;
}
.footer-box .footer-util .footer-util-list > li:after {
    content: "";
    display: inline-block;
    margin-left: 13px;
    width: 1px;
    height: 16px;
    vertical-align: -2px;
    background-color: #e7e7e7;
}
.footer-box .footer-util .footer-util-list > li:nth-child(1):after {
    margin-left: 14px;
}
.footer-box .footer-util .footer-util-list > li:nth-child(5):after {
    margin-left: 17px;
}
.footer-box .footer-util .footer-util-list > li:nth-child(4n+4):after,
.footer-box .footer-util .footer-util-list > li:last-child:after {
    display: none;
}

.footer-box .footer-util .footer-copyright {
    letter-spacing: 0;
    line-height: 1rem;
    font-size: 1rem;
    font-family: "Noto-Regular", sans-serif;
    color: #7f7f7f;
}

@media screen and (max-width: 999px) {
    .footer-wrap {
        padding: 0 30px;
    }
    .footer-wrap .footer-box {
        margin: 0;
        max-width: none;
    }
    .footer-box .footer-logo {
        float: none;
        padding: 41px 0 0;
        width: 100%;
        height: auto;
        text-align: center;
        line-height: 1.25rem;
        font-size: 1.25rem;
    }
    .footer-box .footer-util {
        float: none;
        padding: 18px 0 0;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 0;
    }
    .footer-box .footer-util .footer-util-list > li {
        display: inline-block;
        float: none;
        margin: 0 7px 0 0;
        letter-spacing: -0.05em;
        line-height: 0.938rem;
        font-size: 0.563rem;
    }
    .footer-box .footer-util .footer-util-list > li:nth-child(1) {
        margin-right: 6px;
    }
    .footer-box .footer-util .footer-util-list > li:after {
        margin-left: 7px;
        width: 1px;
        height: 9px;
        vertical-align: -1px;
        background-color: #ccc;
    }
    .footer-box .footer-util .footer-util-list > li:nth-child(1):after {
        margin-left: 9px;
    }
    .footer-box .footer-util .footer-util-list > li:nth-child(2n+2):after {
        display: none;
    }
    .footer-box .footer-util .footer-util-list.type01 {
        margin: 12px 0 0;
    }
    .footer-box .footer-util .footer-util-list.type01 > li:nth-child(1) {
        margin-right: 7px;
    }

    .footer-box .footer-util .footer-copyright {
        padding: 4px 0 42px;
        line-height: 0.563rem;
        font-size: 0.563rem;
    }
}


/* ------------------------- input style  ------------------------- */
input {
    padding: 0 11px;
    height: 40px;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #fff;
    border-radius: 4px;
    background-color: rgba(216, 228, 253, 0.4);
}
.input-area {
    position: relative;
}
.input-area.type01 {
    font-size: 0;
}
.input-area .short {
    width: 100px;
}
.input-area .half {
    width: 50%;
}
.input-area .full {
    width: 100%;
}
.input-area .unit {
    width: 71.89189%;
}
.input-area .readonly {
    color: #828282;
    background-color: #f8f8f8;
}

@media screen and (max-width: 999px) {
    input {
        padding: 0 5px;
        height: 20px;
        font-size: 0.563rem;
        border-radius: 2px;
    }
    .input-area .short {
        width: 25%;
    }
    .input-area .half {
        width: 50%;
    }
    .input-area .full {
        width: 100%;
    }
    .input-area .unit {
        width: 67.96116%;
    }
    .input-area .readonly {
        color: #828282;
        background-color: #f8f8f8;
    }

}


/* ------------------------- select style  ------------------------- */
.input-area select.unit {
    margin-left: 2.70270%;
    padding: 0 34px 0 10px;
    width: 25.40540%;
    height: 40px;
    letter-spacing: -0.05em;
    font-size: 1.125rem;
    font-family: "Noto-Regular", sans-serif;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: rgba(216, 228, 253, 0.4);
    background-image: url(../images/sub/ico_arrow_select.png);
    background-repeat: no-repeat;
    background-position: right 0;
}

@media screen and (max-width: 999px) {
    .input-area select.unit {
        margin-left: 3.39805%;
        padding: 0 0 0 3.88349%;
        width: 28.15533%;
        height: 27px;
        font-size: 0.563rem;
        border-radius: 2px;
        background-image: url(../images/sub/ico_arrow_select_mobile.png);
        background-size: 20px 27px;
    }
}


/* ------------------------- checkbox style  ------------------------- */
.check-list-wrap {
    overflow: hidden;
    padding: 3px 0;
}
.check-list-wrap.type01 {
    padding: 3px 0 15px;
}
.check-list-wrap > li {
    float: left;
    margin-right: 3.51351%;
}
.check-list-wrap.type01 > li:nth-child(3n+1),
.check-list-wrap.type01 > li:nth-child(3n+3) {
    margin-right: 0;
    width: 102px;
}
.check-list-wrap.type01 > li:nth-child(3n+2) {
    margin-right: 0;
    width: 91px;
}

.check-square {
    position: relative;
}
.check-square label {
    display: block;
    letter-spacing: -0.025em;
    line-height: 1.563rem;
    font-size: 1rem;
    font-family: 'Noto-Light', sans-serif;
    color: #fff;
    word-break: keep-all;
}
.check-square input[type="checkbox"],
.check-square input[type="radio"] {
    overflow: hidden;
    position: absolute;
    margin: -1px;
    padding: 0px;
    width: 1px;
    height: 1px;
    border: 0px none;
    clip: rect(0px, 0px, 0px, 0px);
}
.check-square input[type="checkbox"] + label span,
.check-square input[type="radio"] + label span  {
    display: inline-block;
    margin: 4px 0 0 10px;
    width: 17px;
    height: 17px;
    font-size: 0;
    background-image: url("../images/common/icon_checkbox.gif");
    background-repeat: no-repeat;
    background-size: 17px 34px;
    background-position: 0 0;
}
/*.check-square input[type="checkbox"]:focus + label span,
.check-square input[type="radio"]:focus + label span {
    border:1px dashed #8f8f8f;
}*/
.check-square input[type="checkbox"]:checked + label span,
.check-square input[type="radio"]:checked + label span {
    background-position: 0 -17px;
}
.check-square input[type="checkbox"] + label strong,
.check-square input[type="radio"] + label strong {   
    vertical-align: -5px; 
    font-family: 'Noto-Light', sans-serif;
    color: #fff;
}
.check-square input[type="checkbox"] + label a,
.check-square input[type="radio"] + label a {   
    display: inline-block;
    margin-left: 11px;
    padding: 0 17px 0 15px;
    height: 25px;
    letter-spacing: -0.05em;
    line-height: 1.563rem;
    font-family: 'Noto-Regular', sans-serif;
    color: #084788;
    border-radius: 4px;
    background-color: #fff;
}

.check-circle label {
    display: block;
    letter-spacing: -0.025em;
    line-height: 1.688rem;
    font-size: 1rem;
    font-family: 'Noto-Light', sans-serif;
    color: #fff;
    word-break: keep-all;
}
.check-circle input[type="checkbox"],
.check-circle input[type="radio"] {
    overflow: hidden;
    position: absolute;
    margin: -1px;
    padding: 0px;
    width: 1px;
    height: 1px;
    border: 0px none;
    clip: rect(0px, 0px, 0px, 0px);
}
.check-circle input[type="checkbox"] + label span,
.check-circle input[type="radio"] + label span  {
    display: inline-block;
    margin: 5px 3px 0 0;
    width: 17px;
    height: 17px;
    font-size: 0;
    background-image: url("../images/common/icon_radio.png");
    background-repeat: no-repeat;
    background-size: 17px 34px;
    background-position: 0 0;
}
/*.check-circle input[type="checkbox"]:focus + label span,
.check-circle input[type="radio"]:focus + label span {
    border:1px dashed #8f8f8f;
}*/
.check-circle input[type="checkbox"]:checked + label span,
.check-circle input[type="radio"]:checked + label span {
    background-position: 0 -17px;
}
.check-circle input[type="checkbox"] + label strong,
.check-circle input[type="radio"] + label strong {   
    vertical-align: -5px; 
    font-family: 'Noto-Light', sans-serif;
    color: #fff;
}
.check-circle input[type="checkbox"] + label a,
.check-circle input[type="radio"] + label a {   
    display: inline-block;
    margin-left: 11px;
    padding: 0 17px 0 15px;
    height: 25px;
    letter-spacing: -0.05em;
    line-height: 1.563rem;
    font-family: 'Noto-Regular', sans-serif;
    color: #084788;
    border-radius: 4px;
    background-color: #fff;
}

@media screen and (max-width: 999px) {
    .check-list-wrap {
        padding: 0 0 6px;
    }
    .check-list-wrap.type01 {
        margin-top: -3px;
        padding: 0 0 10px;
    }
    .check-list-wrap > li {
        /*margin-right: 4.85436%;*/
        margin-right: 0;
    }
    .check-list-wrap.type01 > li:nth-child(3n+1),
    .check-list-wrap.type01 > li:nth-child(3n+3) {
        width: 29.12621%;
    }
    .check-list-wrap.type01 > li:nth-child(3n+2) {
        width: 24.27184%;
    }

    .check-list-wrap > li.length1 {
        width: 15.12195%;
    }
    .check-list-wrap > li.length2 {
        width: 18.78048%;
    }
    .check-list-wrap > li.length4 {
        width: 25.60975%;
    }

    .check-square label {
        letter-spacing: -0.1em;
        line-height: 0.813rem;
        font-size: 0.5rem;
    }
    .check-square input[type="checkbox"] + label span,
    .check-square input[type="radio"] + label span  {
        margin: 2px 0 0 5px;
        width: 9px;
        height: 9px;
        background-size: 9px 18px;
    }
    .check-square input[type="checkbox"]:checked + label span,
    .check-square input[type="radio"]:checked + label span {
        background-position: 0 -9px;
    }
    .check-square input[type="checkbox"] + label strong,
    .check-square input[type="radio"] + label strong {   
        vertical-align: -2px; 
    }
    .check-square input[type="checkbox"] + label a,
    .check-square input[type="radio"] + label a {
        margin-left: 5px;
        padding: 0 9px 0 6px;
        height: 13px;
        letter-spacing: -0.1em;
        line-height: 0.75rem;
        font-family: 'Noto-Light', sans-serif;
        border-radius: 2px;
    }

    .check-circle label {
        letter-spacing: -0.1em;
        line-height: 0.938rem;
        font-size: 0.5rem;
    }
    .check-circle input[type="checkbox"] + label span,
    .check-circle input[type="radio"] + label span  {
        margin: 3px 1.45631% 0 0;
        width: 9px;
        height: 9px;
        background-size: 9px 18px;
    }
    .check-circle input[type="checkbox"]:checked + label span,
    .check-circle input[type="radio"]:checked + label span {
        background-position: 0 -9px;
    }
    .check-circle input[type="checkbox"] + label strong,
    .check-circle input[type="radio"] + label strong {   
        vertical-align: -2px; 
    }
    .check-circle input[type="checkbox"] + label a,
    .check-circle input[type="radio"] + label a {
        margin-left: 5px;
        padding: 0 9px 0 6px;
        height: 13px;
        letter-spacing: -0.1em;
        line-height: 0.75rem;
        font-family: 'Noto-Light', sans-serif;
        border-radius: 2px;
    }

}