@charset "utf-8";

/* Reset */
header,footer,section,article,aside,nav,hgroup{display:block}
html,body{margin:0;padding:0;-webkit-text-size-adjust:none;}
body{margin:0; padding:0; background:#ededed; min-width:320px;font-size:12px;font-family:'Noto Sans','돋움',Dotum,sans-serif;}
div,li,dt,dd,form,iframe,p,a,span,th,td{margin:0;padding:0}
table,th,td{border-collapse: collapse;border-spacing: 0;}
a{display:inline-block;}
a:link,a:visited,a:hover,a:active{text-decoration:none}
img{border:none;width:100%;vertical-align: top;}

/* 이벤트패널 */
#eventpage{padding:0px 4px;}
.title{display:block;padding:8px 8px 0;}
.title img{width:auto;}

.txtbanner_area_top{padding:8px 8px 0px; }
.txtbanner_area_top a{display:block; border:1px solid #dcdcdc;}
.txtbanner_area{margin:0px 4px 8px; }
.txtbanner_area a{display:block; border:1px solid #dcdcdc;}
.no_border a{border:0 none;}

.line_area img {height:22px;}
.main_event a{width:100%;margin-top:8px;}

.top_evnet, .bottom_evnet{margin:8px 0px;zoom:1}
.top_evnet:after, .bottom_evnet:after{content:"";display:block;clear:both;}
.top_evnet .top_right, .top_right2, .bottom_evnet .bottom_left, .bottom_left2{float:left; width:66.6%}
.top_evnet .top_right a, .top_right2 a, .bottom_evnet .bottom_left a, .bottom_left2 a{display:block; margin:0 4px; border:1px solid #dcdcdc;}
.top_evnet .top_left, .top_left2, .bottom_evnet .bottom_right, .bottom_right2{float:left; width:33.3%;}
.top_evnet .top_left a, .top_left2 a, .bottom_evnet .bottom_right a, .bottom_right2 a{display:block; margin:0 4px;}

.effect{display:none;}

.bottom_left.no_border a{border:0 none;}
.top_right.no_border a{border:0 none;}